.fade.ng-hide {
  opacity: 0; }

.fade.ng-hide-remove,
.fade.ng-hide-add {
  transition: all linear 500ms; }

.header, .altHeader {
  width: 94vw;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 7vh;
  padding: 2vh 3vw;
  position: fixed;
  z-index: 5; }
  .header svg, .altHeader svg {
    width: 20vw;
    float: left;
    position: relative;
    z-index: 1; }
  .header .logo2, .altHeader .logo2 {
    stroke: black; }
  .header #headerText, .altHeader #headerText {
    display: none; }
  .header #menu, .altHeader #menu {
    display: none; }
  .header #mobileMenu, .header #mobileMenu2, .altHeader #mobileMenu, .altHeader #mobileMenu2 {
    top: -0.5vw;
    width: 10vw;
    height: 8vw;
    float: right;
    display: inline-block;
    vertical-align: top;
    margin: 3px 3px 0 0;
    z-index: 4;
    position: relative; }
    .header #mobileMenu a, .header #mobileMenu2 a, .altHeader #mobileMenu a, .altHeader #mobileMenu2 a {
      text-decoration: none; }
    .header #mobileMenu #closeMenu, .header #mobileMenu2 #closeMenu, .altHeader #mobileMenu #closeMenu, .altHeader #mobileMenu2 #closeMenu {
      margin: 0;
      z-index: 1;
      position: absolute;
      font-family: 'Gotham';
      font-size: 6.5vw;
      width: 15vw;
      left: -8vw;
      bottom: -0.5vw;
      font-weight: 600; }
    .header #mobileMenu span, .header #mobileMenu2 span, .altHeader #mobileMenu span, .altHeader #mobileMenu2 span {
      width: 100%;
      height: 1.7vw;
      margin-bottom: 1.4vw;
      display: block;
      position: absolute;
      z-index: 1;
      transition: 0.5s; }
  .header #mobileMenu #m1, .altHeader #mobileMenu #m1 {
    bottom: 3.1vw; }
  .header #mobileMenu #m2, .altHeader #mobileMenu #m2 {
    bottom: 0; }
  .header #mobileMenu #m3, .altHeader #mobileMenu #m3 {
    bottom: -3.1vw; }
  .header #mobileMenu2 span, .altHeader #mobileMenu2 span {
    background-color: black; }
  .header #mobileMenu2 #closeMenu, .altHeader #mobileMenu2 #closeMenu {
    color: black; }
  .header #mobileMenu2 #m1, .altHeader #mobileMenu2 #m1 {
    bottom: -3.1vw; }
  .header #mobileMenu2 #m2, .altHeader #mobileMenu2 #m2 {
    bottom: -3.1vw; }
  .header #mobileMenu2 #m3, .altHeader #mobileMenu2 #m3 {
    bottom: -3.1vw; }

.header {
  background-color: rgba(0, 0, 0, 0.25); }
  .header .logo {
    stroke: #ffffff; }
  .header #mobileMenu span {
    background-color: #ffffff; }

.altheader {
  background-color: transparent; }
  .altheader .logo {
    stroke: #252e35; }
  .altheader #mobileMenu span {
    background-color: #252e35; }

#menuShow {
  height: 85vh;
  top: 0;
  left: 0;
  width: 100vw;
  position: fixed;
  background-color: white;
  z-index: 4;
  padding-top: 15vh; }
  #menuShow ul {
    list-style: none;
    font-family: 'Gotham';
    text-transform: uppercase; }
    #menuShow ul li a {
      border-bottom: 1vw solid lightgrey;
      color: black;
      font-family: "Utopia";
      font-size: 7.5vw;
      font-weight: 600;
      line-height: 16vw;
      padding-bottom: 0.8vw;
      text-decoration: none;
      text-transform: uppercase; }
  #menuShow #social {
    position: absolute;
    bottom: -3vw;
    right: 3vw; }
    #menuShow #social li {
      display: inline-block;
      margin-right: 3vw; }
      #menuShow #social li a {
        border: none; }
        #menuShow #social li a img {
          width: 13vw; }

@media only screen and (min-width: 600px) {
  .header {
    margin: 15px 0 0 15px; }
    .header img {
      display: inline-block;
      width: 5.5%;
      padding-top: 3px; }
    .header #headerText {
      display: inline-block;
      vertical-align: top;
      margin-left: 10px; }
      .header #headerText #name {
        font-weight: 600;
        font-size: 1.8vw; }
      .header #headerText p {
        display: block;
        font-family: 'Gotham';
        font-weight: 200;
        text-transform: uppercase;
        font-size: .85vw;
        margin: 0; }
    .header #mobileMenu {
      display: none; } }
#introduction {
  background-image: url(../img/backgrounds/chicken.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  display: block;
  overflow: hidden;
  text-align: center;
  font-family: 'Gotham';
  text-transform: uppercase;
  color: white;
  letter-spacing: .8vw; }
  #introduction .darkener h2 {
    margin: 41vh auto 2vh;
    background-color: #bfbfbf;
    width: 65vw;
    padding: 3vw;
    font-family: 'Utopia';
    font-size: 8vw;
    letter-spacing: 1.5vw; }
  #introduction .darkener p {
    margin: 0;
    font-size: 4vw; }

#portfolioLink {
  height: 30vh;
  background-color: #0f3b6e;
  overflow: hidden;
  padding-top: 5vh;
  box-shadow: 0vh 0vh 1vh 1vh rgba(0, 0, 0, 0.3);
  position: relative;
  text-align: center;
  font-family: 'Utopia';
  letter-spacing: 0.75vw;
  font-size: 6vw;
  color: white; }
  #portfolioLink a {
    display: block;
    text-decoration: none;
    background: none;
    border: 0.75vw solid #e3c263;
    color: #e3c263;
    font-size: 6vw;
    font-weight: 400;
    letter-spacing: 0.8vw;
    margin: 1vh auto 0;
    text-transform: uppercase;
    width: 60vw;
    border-radius: 0;
    font-family: 'Gotham';
    padding: 4vw 4vw; }

#aboutMe {
  height: 100vh;
  background-attachment: fixed;
  background-image: url(../img/backgrounds/water.jpg);
  background-position: 48% center;
  background-size: cover;
  overflow: hidden;
  text-align: center; }
  #aboutMe #aboutMeTop {
    padding: 5vw;
    margin: 25vh auto 10vh;
    width: 80%;
    display: block; }
    #aboutMe #aboutMeTop h2 {
      font-family: 'Gotham';
      color: white;
      text-transform: uppercase;
      font-size: 8vw;
      letter-spacing: 0.8vh;
      margin: 0; }
    #aboutMe #aboutMeTop p {
      margin: 3vh auto;
      text-align: center;
      width: 80vw;
      color: white;
      font-family: "Utopia";
      letter-spacing: 0.25vw;
      font-size: 5vw;
      font-weight: 200; }
  #aboutMe .divider {
    height: 0.5vw;
    width: 85vw;
    margin: 10vw auto;
    display: block; }
  #aboutMe #meNavi {
    display: block;
    margin: 0 auto;
    width: 82vw; }
    #aboutMe #meNavi a {
      font-family: 'Gotham';
      display: inline-block;
      padding: 5vw 0;
      margin: 0 1vw 3vw;
      vertical-align: top;
      width: 39vw;
      letter-spacing: 0.5vw;
      text-decoration: none; }
    #aboutMe #meNavi a:nth-child(1) {
      margin-left: 0; }
    #aboutMe #meNavi a:nth-child(2) {
      margin-right: 0; }
    #aboutMe #meNavi a:nth-child(3) {
      background-color: #e3c263;
      margin: 0;
      width: 99%; }

.buttons {
  width: 50vw;
  border: none;
  background-color: #bfbfbf;
  font-size: 6vw;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .8vw;
  color: white; }
  .buttons a {
    text-decoration: none;
    color: white; }

.darkener {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  overflow: hidden;
  position: absolute;
  width: 100vw;
  z-index: 1; }

.divider {
  width: 80vw;
  height: 0.2vw;
  background-color: white; }

#indexContact {
  background-color: #0f3b6e;
  box-shadow: 0 -0.5vh 1vh 0 rgba(0, 0, 0, 0.55);
  overflow: hidden;
  text-align: center; }
  #indexContact button {
    background: transparent none repeat scroll 0 0;
    font-size: 11vw;
    height: 100%;
    letter-spacing: 1.25vh;
    margin: 7vh auto;
    width: 100%;
    cursor: pointer; }

#contactForm {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  font-family: 'Gotham';
  font-size: 4vw;
  color: white; }
  #contactForm h2 {
    font-family: 'Gotham';
    text-transform: uppercase;
    color: white;
    font-size: 8vw;
    font-weight: 600;
    letter-spacing: .8vw;
    margin-top: 15vw;
    margin-bottom: 0; }
  #contactForm p {
    margin: 3vw auto 15vw; }
  #contactForm form {
    text-align: center; }
    #contactForm form input {
      width: 75%;
      background-color: transparent;
      border: 1px solid gray;
      border-radius: 5px;
      height: 4vw;
      margin-bottom: 5vw;
      font-size: 4vw;
      color: white;
      font-weight: 400;
      padding: 3vw; }
    #contactForm form textarea {
      resize: none;
      background-color: transparent;
      font-family: 'Gotham';
      width: 75%;
      padding: 3vw;
      height: 30vw;
      border: 1px solid gray;
      border-radius: 5px;
      color: white;
      font-size: 4vw;
      margin-bottom: 8vw; }
    #contactForm form input[type=submit] {
      width: 38vw;
      height: 11vw;
      padding: 2vw;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 5vw;
      letter-spacing: .8vw;
      background-color: #36d6af;
      border: none; }
  #contactForm #contactNext {
    margin-top: 5vw;
    text-align: center; }
    #contactForm #contactNext p {
      font-weight: 800;
      font-size: 5vw;
      margin: 0; }
    #contactForm #contactNext p:nth-child(2) {
      font-size: 8vw;
      letter-spacing: .8vw; }

#contactInfo {
  font-family: 'Gotham';
  color: white;
  text-align: center;
  width: 80%;
  margin: 20vw auto;
  border: 1vw solid white;
  padding-bottom: 15vw; }
  #contactInfo h3 {
    margin-top: 20vw;
    text-transform: uppercase;
    letter-spacing: 1vw;
    font-size: 5vw; }
  #contactInfo h3:nth-child(1) {
    margin-top: 15vw; }
  #contactInfo p {
    font-size: 4vw; }

#resumeForm {
  width: 100vw;
  font-family: 'Gotham';
  text-align: center;
  letter-spacing: 0.8vw;
  color: black; }
  #resumeForm h2 {
    margin-top: 12vh;
    font-weight: 600; }
  #resumeForm form {
    width: 100%;
    font-weight: 200;
    letter-spacing: 0.8vw; }
    #resumeForm form textarea {
      resize: none;
      overflow: hidden;
      width: 80%;
      height: 10vw;
      margin: 0 auto;
      background-color: transparent;
      border: 1px solid black;
      border-radius: 0.5vw;
      margin-bottom: 5vw;
      padding: 2vw;
      color: black;
      font-family: 'Gotham';
      font-weight: 200;
      font-size: 4vw;
      letter-spacing: 0.8vw; }
    #resumeForm form input {
      width: 38vw;
      height: 10vw;
      padding: 2vw;
      background-color: transparent;
      border-radius: 0.5vw;
      border: 1px solid black;
      font-size: 4vw;
      color: black; }
    #resumeForm form input:nth-child(1),
    #resumeForm form input:nth-child(2) {
      width: 80vw;
      margin: 0 auto 3vh; }
    #resumeForm form input[type=submit] {
      background-color: #36d6af;
      border: none;
      cursor: pointer;
      font-size: 5vw;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.8vw;
      margin: 20vw; }
    #resumeForm form p {
      margin: 10vw 0;
      text-transform: uppercase;
      font-size: 5vw;
      font-weight: 600; }
    #resumeForm form button {
      height: 10vw;
      width: 38vw;
      background-color: transparent;
      border: 1px solid black;
      border-radius: 0.5vw;
      display: block;
      margin: 5vw auto;
      color: black;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 4vw; }

.resume {
  text-align: left;
  padding: 5vw;
  font-family: 'Gotham';
  margin: 23vw 3vw;
  background-color: white;
  box-shadow: 1vw 1vw 4vw 1vw rgba(0, 0, 0, 0.8); }
  .resume .experience {
    margin-bottom: 5vh;
    overflow: hidden; }
    .resume .experience .expTop {
      overflow: hidden; }
      .resume .experience .expTop .expTopLeft {
        float: left;
        width: 75vw; }
      .resume .experience .expTop .collapser {
        width: 8vw;
        height: 8vw;
        float: right;
        margin-top: 5vw; }
        .resume .experience .expTop .collapser span {
          background-color: black;
          content: "";
          display: block;
          height: 2vw;
          position: absolute;
          width: 8vw; }
        .resume .experience .expTop .collapser span:nth-child(1) {
          transform: rotate(90deg); }
    .resume .experience h2 {
      font-family: 'Utopia';
      margin: 0;
      font-size: 6.5vw; }
    .resume .experience .position {
      font-size: 4vw;
      text-transform: uppercase;
      letter-spacing: 0.5vw;
      margin: 0;
      font-weight: 600; }
    .resume .experience .startEnd {
      display: block; }
      .resume .experience .startEnd p {
        display: inline-block;
        font-size: 3.5vw;
        margin: 0;
        text-transform: uppercase; }
    .resume .experience .expHidden {
      display: none; }
    .resume .experience .expShown {
      display: block; }
    .resume .experience ul {
      padding-left: 5vw; }
      .resume .experience ul li {
        font-size: 3.75vw;
        letter-spacing: 0.25vw; }

#aboutImage {
  background-image: url(../img/backgrounds/snow.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh; }
  #aboutImage .darkener h2 {
    margin: 41vh auto 2vh;
    background-color: #bfbfbf;
    width: 65vw;
    padding: 3vw;
    font-family: 'Utopia';
    font-size: 8vw;
    letter-spacing: 1.5vw;
    text-align: center;
    color: white; }
  #aboutImage .darkener p {
    margin: 0;
    font-size: 4vw;
    color: white; }

@font-face {
  font-family: 'Utopia';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/UtopiaStd-Disp.otf") format("opentype"); }
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Gotham-Book.otf") format("opentype"); }
@font-face {
  font-family: 'Gotham';
  font-style: 'light';
  font-weight: 200;
  src: url("../fonts/Gotham-Light.otf") format("opentype"); }
@font-face {
  font-family: 'Gotham';
  font-style: 'bold';
  font-weight: 600;
  src: url("../fonts/Gotham-Bold.otf") format("opentype"); }
@font-face {
  font-family: 'Gotham';
  font-style: 'black';
  font-weight: 800;
  src: url("../fonts/Gotham-Black.otf") format("opentype"); }
body {
  margin: 0;
  background-color: #333; }

#scroller {
  position: absolute;
  top: 0;
  color: red; }

#snapperNavi {
  bottom: 0;
  color: white;
  font-family: "Gotham";
  position: fixed;
  text-align: center;
  width: 100vw; }
  #snapperNavi a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 5vw; }
  #snapperNavi a:nth-child(2) {
    float: left;
    margin-left: 5vw; }
  #snapperNavi a:nth-child(3) {
    float: right;
    margin-right: 5vw; }

/*# sourceMappingURL=main.css.map */
