.fade.ng-hide {
  opacity: 0; }

.fade.ng-hide-remove,
.fade.ng-hide-add {
  transition: all linear 500ms; }

.header, .altHeader {
  width: 94vw;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 9.5vw;
  padding: 2vh 3vw;
  position: fixed;
  z-index: 5; }
  .header svg, .altHeader svg {
    width: 16vw;
    float: left;
    position: relative;
    z-index: 1; }
  .header .logo2, .altHeader .logo2 {
    stroke: black; }
  .header #headerText, .altHeader #headerText {
    display: none; }
  .header #menu, .altHeader #menu {
    display: none; }
  .header #mobileMenu, .header #mobileMenu2, .altHeader #mobileMenu, .altHeader #mobileMenu2 {
    top: -0.5vw;
    width: 10vw;
    height: 6.5vw;
    float: right;
    display: inline-block;
    vertical-align: top;
    margin: 3px 3px 0 0;
    z-index: 4;
    position: relative; }
    .header #mobileMenu a, .header #mobileMenu2 a, .altHeader #mobileMenu a, .altHeader #mobileMenu2 a {
      text-decoration: none; }
    .header #mobileMenu #closeMenu, .header #mobileMenu2 #closeMenu, .altHeader #mobileMenu #closeMenu, .altHeader #mobileMenu2 #closeMenu {
      margin: 0;
      z-index: 1;
      position: absolute;
      font-family: 'Gotham';
      font-size: 6.5vw;
      width: 15vw;
      left: -8vw;
      bottom: -0.5vw;
      font-weight: 600; }
    .header #mobileMenu span, .header #mobileMenu2 span, .altHeader #mobileMenu span, .altHeader #mobileMenu2 span {
      width: 100%;
      height: 1.7vw;
      margin-bottom: 1.4vw;
      display: block;
      position: absolute;
      z-index: 1;
      transition: 0.5s; }
  .header #mobileMenu #m1, .altHeader #mobileMenu #m1 {
    bottom: 3.1vw; }
  .header #mobileMenu #m2, .altHeader #mobileMenu #m2 {
    bottom: 0; }
  .header #mobileMenu #m3, .altHeader #mobileMenu #m3 {
    bottom: -3.1vw; }
  .header #mobileMenu2 span, .altHeader #mobileMenu2 span {
    background-color: black; }
  .header #mobileMenu2 #closeMenu, .altHeader #mobileMenu2 #closeMenu {
    color: black; }
  .header #mobileMenu2 #m1, .altHeader #mobileMenu2 #m1 {
    bottom: -3.1vw; }
  .header #mobileMenu2 #m2, .altHeader #mobileMenu2 #m2 {
    bottom: -3.1vw; }
  .header #mobileMenu2 #m3, .altHeader #mobileMenu2 #m3 {
    bottom: -3.1vw; }

.header {
  background-color: rgba(0, 0, 0, 0.25); }
  .header .logo {
    stroke: #ffffff; }
  .header #mobileMenu span {
    background-color: #ffffff; }

.altheader {
  background-color: transparent; }
  .altheader .logo {
    stroke: #252e35; }
  .altheader #mobileMenu span {
    background-color: #252e35; }

#menuShow {
  height: 85vh;
  top: 0;
  left: 0;
  width: 100vw;
  position: fixed;
  background-color: white;
  z-index: 4;
  padding-top: 15vh; }
  #menuShow ul {
    list-style: none;
    font-family: 'Gotham';
    text-transform: uppercase; }
    #menuShow ul li a {
      border-bottom: 1vw solid lightgrey;
      color: black;
      font-family: "Utopia";
      font-size: 6.5vw;
      font-weight: normal;
      line-height: 16vw;
      letter-spacing: 0.25vw;
      padding-bottom: 0.8vw;
      text-decoration: none;
      text-transform: uppercase; }
  #menuShow #social {
    position: absolute;
    bottom: -3vw;
    right: 3vw; }
    #menuShow #social li {
      display: inline-block;
      margin-right: 3vw; }
      #menuShow #social li a {
        border: none; }
        #menuShow #social li a img {
          width: 11vw; }

@media only screen and (min-width: 550px) {
  .header, .altHeader {
    height: 9.5vw; }
    .header svg, .altHeader svg {
      width: 16vw; }
    .header #mobileMenu, .header #mobileMenu2, .altHeader #mobileMenu, .altHeader #mobileMenu2 {
      top: 0vw;
      width: 9vw;
      height: 6vw; }
      .header #mobileMenu span, .header #mobileMenu2 span, .altHeader #mobileMenu span, .altHeader #mobileMenu2 span {
        height: 1.5vw; }

  #menuShow ul li a {
    border-bottom: 0.8vw solid lightgrey;
    font-size: 6.25vw; }
  #menuShow #social li a img {
    width: 12vw; } }
@media only screen and (min-width: 768px) {
  .header, .altHeader {
    margin: 0;
    height: 6.5vw;
    padding: 2vw 2vw;
    width: 96vw; }
    .header svg, .altHeader svg {
      width: 10vw; }
    .header #headerText, .altHeader #headerText {
      display: inline-block;
      vertical-align: top;
      margin-left: 10px; }
      .header #headerText #name, .altHeader #headerText #name {
        font-weight: 600;
        font-size: 2.25vw; }
      .header #headerText p, .altHeader #headerText p {
        display: block;
        font-family: 'Gotham';
        font-weight: 200;
        text-transform: uppercase;
        font-size: 1.75vw;
        line-height: 2vw;
        letter-spacing: 0.3vw;
        margin: 0 0 0 2vw; }
    .header #mobileMenu, .header #mobileMenu2, .altHeader #mobileMenu, .altHeader #mobileMenu2 {
      top: 0vw;
      width: 7vw;
      height: 3.4vw; }
      .header #mobileMenu span, .header #mobileMenu2 span, .altHeader #mobileMenu span, .altHeader #mobileMenu2 span {
        height: 1vw;
        margin-bottom: 0; }
      .header #mobileMenu #m1, .header #mobileMenu2 #m1, .altHeader #mobileMenu #m1, .altHeader #mobileMenu2 #m1 {
        bottom: 2.4vw; }
      .header #mobileMenu #m3, .header #mobileMenu2 #m3, .altHeader #mobileMenu #m3, .altHeader #mobileMenu2 #m3 {
        bottom: -2.4vw; }
      .header #mobileMenu #closeMenu, .header #mobileMenu2 #closeMenu, .altHeader #mobileMenu #closeMenu, .altHeader #mobileMenu2 #closeMenu {
        font-size: 4.5vw;
        bottom: -1.5vw;
        left: -5vw; }
    .header #mobileMenu2 #m1, .altHeader #mobileMenu2 #m1 {
      bottom: -2.5vw; }
    .header #mobileMenu2 #m2, .altHeader #mobileMenu2 #m2 {
      bottom: -2.5vw; }
    .header #mobileMenu2 #m3, .altHeader #mobileMenu2 #m3 {
      bottom: -2.5vw; }
    .header #mobileMenu2 #closeMenu, .altHeader #mobileMenu2 #closeMenu {
      font-size: 4.5vw;
      bottom: -1.5vw;
      left: -5vw; }

  .header #headerText p {
    color: white; }

  .altheader #headerText p {
    color: black; }

  #menuShow ul li a {
    border-bottom: .75vw solid lightgrey;
    font-size: 3.5vw; }
  #menuShow #social li a img {
    width: 7vw; } }
@media only screen and (min-width: 955px) {
  .header, .altHeader {
    background-color: transparent;
    padding: 1.5vw;
    width: 97vw;
    height: 8.5vw;
    overflow: hidden; }
    .header svg, .altHeader svg {
      width: 7vw; }
    .header .logo, .header .logo2, .altHeader .logo, .altHeader .logo2 {
      stroke: #ffffff; }
    .header #headerText, .altHeader #headerText {
      color: white;
      height: 5.5vw;
      margin-left: 0.25vw; }
      .header #headerText #name, .altHeader #headerText #name {
        font-size: 1.75vw; }
      .header #headerText p, .altHeader #headerText p {
        font-size: 1.25vw;
        letter-spacing: 0.45vw;
        line-height: 1.5vw; }
    .header #mobileMenu, .header #mobileMenu2, .altHeader #mobileMenu, .altHeader #mobileMenu2 {
      display: none; }
    .header #menu, .altHeader #menu {
      display: block; }
      .header #menu #largeScreenMenu, .altHeader #menu #largeScreenMenu {
        display: inline-block;
        font-family: 'Gotham';
        text-decoration: none;
        letter-spacing: 0.5vw;
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 2vw; }

  .darkHeader {
    background-color: rgba(0, 0, 0, 0.25); }

  #menuShow {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    padding-top: 8vw;
    height: none; }
    #menuShow ul {
      margin-top: 3vw; }
      #menuShow ul li a {
        border-bottom: 0.25vw solid lightgrey;
        color: white;
        font-family: "Gotham";
        font-size: 1.5vw;
        line-height: 4vw;
        padding-bottom: 0.3vw;
        letter-spacing: 0.2vw; }
    #menuShow #social {
      display: none; } }
@media only screen and (min-width: 1450px) {
  .header, .altHeader {
    height: 6.5vw; }
    .header svg, .altHeader svg {
      width: 6vw; }
    .header #headerText, .altHeader #headerText {
      height: 5vw; }
      .header #headerText #name, .altHeader #headerText #name {
        font-size: 1.5vw; }
      .header #headerText p, .altHeader #headerText p {
        font-size: 1.1vw;
        line-height: 1.25vw; }
    .header #menu #largeScreenMenu, .altHeader #menu #largeScreenMenu {
      font-size: 1.5vw; }

  #menuShow ul {
    margin-top: 0.5vw; }
    #menuShow ul li a {
      font-size: 1.25vw;
      letter-spacing: 0.2vw; } }
@media only screen and (min-width: 1650px) {
  .header svg, .altHeader svg {
    width: 5.5vw; }
  .header #headerText, .altHeader #headerText {
    height: 4.5vw; }
    .header #headerText #name, .altHeader #headerText #name {
      font-size: 1.25vw; }
    .header #headerText p, .altHeader #headerText p {
      font-size: 0.9vw;
      line-height: 1.1vw;
      letter-spacing: 0.35vw; }
  .header #menu #largeScreenMenu, .altHeader #menu #largeScreenMenu {
    font-size: 1.25vw; }

  #menuShow ul li a {
    font-size: 1vw;
    line-height: 3vw;
    padding-bottom: 0.2vw;
    border-bottom: 0.15vw solid lightgrey; } }
#introduction {
  background-image: url(../img/backgrounds/chicken.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
  height: 100vh;
  width: 100vw;
  display: block;
  overflow: hidden;
  text-align: center;
  font-family: 'Gotham';
  text-transform: uppercase;
  color: white;
  letter-spacing: .8vw; }
  #introduction .darkener h2 {
    margin: 41vh auto 1.5vw;
    background-color: #bfbfbf;
    width: 59vw;
    padding: 2vw;
    font-family: 'Utopia';
    font-size: 7vw;
    font-weight: normal;
    letter-spacing: 1.5vw; }
  #introduction .darkener p {
    margin: 0;
    font-size: 3vw; }

#portfolioLink {
  height: 55vw;
  background-color: #fcfcfc;
  overflow: hidden;
  padding: 0;
  box-shadow: 0vh 0vh 1vh 1vh rgba(0, 0, 0, 0.3);
  position: relative;
  text-align: center;
  font-family: 'Gotham';
  letter-spacing: 0.75vw;
  font-size: 3.5vw;
  color: black; }
  #portfolioLink p {
    margin: 8vw auto;
    width: 80%;
    font-weight: 200;
    font-size: 3.25vw;
    color: black;
    letter-spacing: 0.5vw; }
  #portfolioLink a {
    display: block;
    text-decoration: none;
    background: none;
    border: 0.75vw solid #EDCB67;
    color: #EDCB67;
    font-size: 6vw;
    font-weight: 400;
    letter-spacing: 0.8vw;
    margin: 1vh auto 0;
    text-transform: uppercase;
    width: 60vw;
    border-radius: 0;
    font-family: 'Utopia';
    padding: 3vw; }

#aboutMe {
  height: 100vh;
  background-attachment: scroll;
  background-image: url(../img/backgrounds/water.jpg);
  background-position: 48% center;
  background-size: cover;
  overflow: hidden;
  text-align: center; }
  #aboutMe #aboutMeTop {
    padding: 5vw;
    margin: 25vh auto 5vh;
    width: 80%;
    display: block; }
    #aboutMe #aboutMeTop h2 {
      font-family: 'Gotham';
      color: white;
      text-transform: uppercase;
      font-size: 6vw;
      letter-spacing: 0.8vh;
      margin: 0; }
    #aboutMe #aboutMeTop p {
      margin: 3vw auto;
      text-align: center;
      width: 85%;
      color: white;
      font-family: 'Gotham';
      letter-spacing: 0.25vw;
      font-size: 3.25vw;
      font-weight: 200; }
  #aboutMe .divider {
    height: 0.5vw;
    width: 85vw;
    margin: 10vw auto;
    display: block; }
  #aboutMe #meNavi {
    display: block;
    margin: 0 auto;
    width: 85vw; }
    #aboutMe #meNavi a {
      font-family: 'Utopia';
      display: inline-block;
      padding: 3vw 0;
      margin: 0 1vw 3vw;
      vertical-align: top;
      width: 39vw;
      letter-spacing: 0.8vw;
      text-decoration: none;
      font-weight: normal; }
    #aboutMe #meNavi a:nth-child(1) {
      margin-left: 0; }
    #aboutMe #meNavi a:nth-child(2) {
      margin-right: 0; }
    #aboutMe #meNavi a:nth-child(3) {
      margin: 0;
      width: 98%; }

.buttons {
  width: 50vw;
  border: 0.75vw solid white;
  font-size: 6vw;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .8vw;
  color: white; }
  .buttons a {
    text-decoration: none;
    color: white; }

.darkener {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  overflow: hidden;
  position: absolute;
  width: 100vw;
  z-index: 1; }

.divider {
  width: 80vw;
  height: 0.2vw;
  background-color: white; }

#indexContact {
  background-color: #bfbfbf;
  box-shadow: 0 -0.5vh 1vh 0 rgba(0, 0, 0, 0.55);
  overflow: hidden;
  text-align: center;
  width: 100vw;
  padding: 10vw 0;
  border: none;
  font-size: 8vw;
  letter-spacing: 1vh;
  font-family: 'Gotham';
  text-decoration: none;
  box-shadow: none; }
  #indexContact p {
    color: white;
    font-size: 3.5vw;
    letter-spacing: 0.75vw; }

@media only screen and (min-width: 550px) {
  #introduction .darkener h2 {
    font-size: 7vw;
    width: 60vw; }
  #introduction .darkener p {
    font-size: 3vw; }

  #portfolioLink p {
    font-size: 3.25vw;
    margin: 10vw auto 6vw;
    width: 85%; }
  #portfolioLink a {
    padding: 2vw;
    width: 47vw; }

  #aboutMe #aboutMeTop h2 {
    font-size: 6.5vw; }
  #aboutMe #aboutMeTop p {
    font-size: 3.25vw; }
  #aboutMe #meNavi a {
    padding: 3vw 0;
    width: 34vw;
    font-size: 5vw; }

  #indexContact {
    font-size: 9vw; } }
@media only screen and (min-width: 768px) {
  #introduction .darkener h2 {
    font-size: 5vw;
    margin: 41vh auto 1vh;
    padding: 1.5vw;
    width: 45vw; }
  #introduction .darkener p {
    font-size: 2vw; }

  #portfolioLink {
    height: 42vw;
    font-size: 4vw; }
    #portfolioLink p {
      font-size: 2.5vw;
      letter-spacing: 0.25vw;
      width: 70%; }
    #portfolioLink a {
      font-size: 4vw;
      width: 40vw; }

  #aboutMe #aboutMeTop h2 {
    font-size: 4vw; }
  #aboutMe #aboutMeTop p {
    font-size: 2.5vw; }
  #aboutMe #meNavi a {
    padding: 2vw 0;
    width: 30vw; }
  #aboutMe .buttons {
    font-size: 4vw; }

  #indexContact {
    font-size: 7vw; }
    #indexContact p {
      font-size: 2.75vw; } }
@media only screen and (min-width: 955px) {
  #introduction {
    background-attachment: fixed; }
    #introduction .darkener h2 {
      font-size: 2.5vw;
      letter-spacing: 0.75vw;
      width: 25vw; }
    #introduction .darkener p {
      font-size: 1.25vw; }

  #portfolioLink {
    height: 40vw; }
    #portfolioLink p {
      font-size: 1.75vw;
      width: 59%;
      letter-spacing: 0.25vw; }
    #portfolioLink a {
      font-size: 2.5vw;
      width: 26vw;
      border: 0.5vw solid #EDCB67; }

  #aboutMe {
    background-attachment: fixed; }
    #aboutMe #aboutMeTop {
      margin: 25vh auto 0; }
      #aboutMe #aboutMeTop h2 {
        font-size: 3.75vw; }
      #aboutMe #aboutMeTop p {
        font-size: 1.7vw;
        width: 75%; }
    #aboutMe #meNavi a {
      padding: 1.3vw 0;
      width: 19vw;
      font-size: 2.5vw;
      border: 0.5vw solid white; }

  #indexContact {
    font-size: 6vw;
    padding: 9vw 0; }
    #indexContact p {
      font-size: 2vw; } }
@media only screen and (min-width: 1450px) {
  #introduction .darkener h2 {
    font-size: 2vw;
    padding: 1vw;
    width: 20vw; }
  #introduction .darkener p {
    font-size: 1vw;
    letter-spacing: 0.65vw; }

  #portfolioLink {
    height: 21vw; }
    #portfolioLink #lgScreenText {
      font-family: 'Gotham';
      font-size: 1vw;
      font-weight: 200;
      letter-spacing: 0.2vw;
      margin: 5.5vw auto 3vw;
      width: 38vw; }
    #portfolioLink a {
      font-family: 'Utopia';
      font-size: 1.75vw;
      padding: 1vw 2vw;
      width: 15.75vw;
      border: 0.25vw solid #EDCB67; }

  #aboutMe #aboutMeTop {
    margin: 20vw auto 0; }
    #aboutMe #aboutMeTop h2 {
      font-size: 2vw; }
    #aboutMe #aboutMeTop p {
      font-size: 1.1vw;
      width: 49vw; }
  #aboutMe #meNavi a {
    font-size: 1.75vw;
    letter-spacing: 0.75vw;
    padding: 1vw 0;
    width: 15vw;
    border: 0.25vw solid #fff; }

  #indexContact {
    font-size: 5.5vw;
    padding: 8vw 0; }
    #indexContact p {
      font-size: 1.25vw;
      letter-spacing: 0.5vw; } }
@media only screen and (min-width: 1650px) {
  #introduction .darkener h2 {
    font-size: 1.75vw;
    padding: 0.75vw;
    width: 18vw; }
  #introduction .darkener p {
    font-size: 0.8vw;
    letter-spacing: 0.6vw; }

  #aboutMe #aboutMeTop {
    margin: 15vw auto 0; }

  #indexContact {
    font-size: 4.5vw;
    padding: 6.75vw 0; }
    #indexContact p {
      font-size: 1.1vw;
      letter-spacing: 0.3vw; } }
#contactForm {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  font-family: 'Gotham';
  font-size: 4vw;
  color: white; }
  #contactForm h2 {
    font-family: 'Gotham';
    text-transform: uppercase;
    color: white;
    font-size: 8vw;
    font-weight: 600;
    letter-spacing: .8vw;
    margin-top: 25vw;
    margin-bottom: 0; }
  #contactForm p {
    margin: 3vw auto 15vw; }
  #contactForm form {
    text-align: center; }
    #contactForm form input {
      width: 75%;
      background-color: transparent;
      border: 1px solid gray;
      border-radius: 5px;
      height: 4vw;
      margin-bottom: 5vw;
      font-size: 4vw;
      color: white;
      font-weight: 400;
      padding: 3vw; }
    #contactForm form textarea {
      resize: none;
      background-color: transparent;
      font-family: 'Gotham';
      width: 75%;
      padding: 3vw;
      height: 30vw;
      border: 1px solid gray;
      border-radius: 5px;
      color: white;
      font-size: 4vw;
      margin-bottom: 8vw; }
    #contactForm form input[type=submit] {
      width: 38vw;
      height: 11vw;
      padding: 2vw;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 5vw;
      letter-spacing: .8vw;
      background-color: #36d6af;
      border: none; }
  #contactForm #contactNext {
    margin-top: 5vw;
    text-align: center; }
    #contactForm #contactNext p {
      font-weight: 800;
      font-size: 5vw;
      margin: 0; }
    #contactForm #contactNext p:nth-child(2) {
      font-size: 8vw;
      letter-spacing: .8vw; }

#contactInfo {
  font-family: 'Gotham';
  color: white;
  text-align: center;
  width: 60%;
  margin: 30vw auto 0;
  border: 1vw solid white;
  padding-bottom: 15vw;
  background-color: black; }
  #contactInfo h3 {
    margin-top: 20vw;
    text-transform: uppercase;
    letter-spacing: 1vw;
    font-size: 5vw; }
  #contactInfo h3:nth-child(1) {
    margin-top: 15vw; }
  #contactInfo a {
    text-decoration: none;
    color: black; }
    #contactInfo a p {
      font-size: 4vw; }

#resumeForm {
  width: 100vw;
  font-family: 'Gotham';
  text-align: center;
  letter-spacing: 0.8vw;
  color: black; }
  #resumeForm h2 {
    margin-top: 12vh;
    font-weight: 600; }
  #resumeForm form {
    width: 100%;
    font-weight: 200;
    letter-spacing: 0.8vw; }
    #resumeForm form textarea {
      resize: none;
      overflow: hidden;
      width: 80%;
      height: 10vw;
      margin: 0 auto;
      background-color: transparent;
      border: 1px solid black;
      border-radius: 0.5vw;
      margin-bottom: 5vw;
      padding: 2vw;
      color: black;
      font-family: 'Gotham';
      font-weight: 200;
      font-size: 4vw;
      letter-spacing: 0.8vw; }
    #resumeForm form input {
      width: 38vw;
      height: 10vw;
      padding: 2vw;
      background-color: transparent;
      border-radius: 0.5vw;
      border: 1px solid black;
      font-size: 4vw;
      color: black; }
    #resumeForm form input:nth-child(1),
    #resumeForm form input:nth-child(2) {
      width: 80vw;
      margin: 0 auto 3vh; }
    #resumeForm form input[type=submit] {
      background-color: #36d6af;
      border: none;
      cursor: pointer;
      font-size: 5vw;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.8vw;
      margin: 20vw; }
    #resumeForm form p {
      margin: 10vw 0;
      text-transform: uppercase;
      font-size: 5vw;
      font-weight: 600; }
    #resumeForm form button {
      height: 10vw;
      width: 38vw;
      background-color: transparent;
      border: 1px solid black;
      border-radius: 0.5vw;
      display: block;
      margin: 5vw auto;
      color: black;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 4vw; }

.resume {
  text-align: left;
  font-family: 'Gotham';
  height: 100vh;
  margin: 0;
  overflow: scroll;
  background-image: url("../img/backgrounds/barrels.JPG");
  background-position: center center;
  background-size: cover; }
  .resume .darkener {
    padding: 0 5vw 0;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    width: 90vw;
    overflow: scroll; }
    .resume .darkener .resumeTitle, .resume .darkener .skillsTitle {
      border-bottom: 0.5vw solid lightgrey;
      color: white;
      font-family: 'Utopia';
      font-size: 5.5vw;
      letter-spacing: 0.5vw;
      padding-bottom: 1vw;
      text-align: center;
      text-transform: uppercase;
      width: 85%; }
    .resume .darkener .resumeTitle {
      margin: 25vw auto 15vw; }
    .resume .darkener .skillsTitle {
      margin: 15vw auto; }
    .resume .darkener .experience {
      margin-bottom: 5vh;
      overflow: hidden;
      color: white; }
      .resume .darkener .experience .expTop {
        overflow: hidden; }
        .resume .darkener .experience .expTop .expTopLeft {
          float: left;
          width: 75vw; }
        .resume .darkener .experience .expTop .collapser {
          float: right; }
          .resume .darkener .experience .expTop .collapser a {
            display: block;
            height: 3.5vw;
            padding-top: 3.5vw;
            width: 6vw; }
            .resume .darkener .experience .expTop .collapser a span {
              background-color: white;
              content: "";
              display: block;
              height: 1.25vw;
              position: absolute;
              width: 6vw; }
          .resume .darkener .experience .expTop .collapser .plus {
            transform: rotate(90deg);
            transition: all linear 200ms; }
          .resume .darkener .experience .expTop .collapser .minus {
            transition: all linear 200ms; }
      .resume .darkener .experience h2 {
        font-family: 'Utopia';
        margin: 0;
        color: white;
        font-size: 4.25vw;
        letter-spacing: 0.25vw;
        font-weight: normal; }
      .resume .darkener .experience .position {
        font-size: 3vw;
        text-transform: uppercase;
        letter-spacing: 0.5vw;
        margin: 0;
        font-weight: 700; }
      .resume .darkener .experience .startEnd {
        display: block; }
        .resume .darkener .experience .startEnd p {
          display: inline-block;
          font-weight: 200;
          font-size: 3vw;
          margin: 0;
          text-transform: uppercase; }
      .resume .darkener .experience .expHidden {
        display: none;
        opacity: 0;
        transition: all linear 200ms; }
      .resume .darkener .experience .expShown {
        display: block;
        transition: all linear 200ms;
        opacity: 1; }
      .resume .darkener .experience ul {
        padding-left: 4vw; }
        .resume .darkener .experience ul li {
          list-style: outside none circle;
          font-size: 3vw;
          letter-spacing: 0.25vw;
          font-weight: 200; }

@media only screen and (min-width: 550px) {
  .resume .darkener .resumeTitle, .resume .darkener .skillsTitle {
    font-size: 5vw; }
  .resume .darkener .skillsTitle {
    margin: 10vw auto; }
  .resume .darkener .experience .startEnd p {
    font-size: 2.75vw; }
  .resume .darkener .experience h2 {
    font-size: 3.75vw; }
  .resume .darkener .experience p {
    font-size: 2.5vw; } }
@media only screen and (min-width: 768px) {
  .resume .darkener .resumeTitle, .resume .darkener .skillsTitle {
    font-size: 4vw;
    width: 75%;
    margin: 20vw auto 5vw; }
  .resume .darkener .resumeTitle {
    margin: 15vw auto 5vw; }
  .resume .darkener .skillsTitle {
    margin: 5vw auto 10vw; }
  .resume .darkener .experience .expHidden {
    display: block;
    opacity: 1; }
  .resume .darkener .experience p {
    font-size: 2vw;
    letter-spacing: 0.2vw; }
  .resume .darkener .experience h2 {
    font-size: 3vw; }
  .resume .darkener .experience .startEnd p {
    font-size: 2vw; }
  .resume .darkener .experience .position {
    font-size: 2.2vw; }
  .resume .darkener .experience .collapser {
    display: none; } }
@media only screen and (min-width: 955px) {
  .resume .darkener .resumeTitle, .resume .darkener .skillsTitle {
    border-bottom: 0.4vw solid lightgrey;
    font-size: 3.5vw;
    letter-spacing: 0.75vw; }
  .resume .darkener .skillsTitle {
    margin: 5vw auto 7vw; }
  .resume .darkener .experience h2 {
    font-size: 2.5vw;
    letter-spacing: 0.2vw; }
  .resume .darkener .experience .position {
    font-size: 1.6vw; }
  .resume .darkener .experience .startEnd p {
    margin-top: 0.25vw;
    font-size: 1.5vw; } }
@media only screen and (min-width: 1450px) {
  .resume .darkener .resumeTitle, .resume .darkener .skillsTitle {
    border-bottom: 0.3vw solid lightgrey;
    font-size: 2.75vw;
    width: 70%; }
  .resume .darkener .resumeTitle {
    margin: 10vw auto 5vw; }
  .resume .darkener .experience {
    margin-bottom: 5vw; }
    .resume .darkener .experience h2 {
      font-size: 2vw; }
    .resume .darkener .experience .position {
      font-size: 1.25vw; }
    .resume .darkener .experience .startEnd p {
      font-size: 1.25vw; }
    .resume .darkener .experience ul {
      margin-top: 2vw; }
      .resume .darkener .experience ul li p {
        font-size: 1.2vw; } }
#aboutImage {
  background-image: url(../img/backgrounds/snow.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh; }
  #aboutImage .darkener h2 {
    margin: 41vh auto 2vh;
    background-color: #bfbfbf;
    width: 65vw;
    padding: 3vw;
    font-family: 'Utopia';
    font-size: 8vw;
    letter-spacing: 1.5vw;
    text-align: center;
    color: white; }
  #aboutImage .darkener p {
    margin: 0;
    font-size: 4vw;
    color: white;
    font-family: 'Gotham'; }

#portfolio {
  background-color: lightgrey;
  overflow: hidden; }
  #portfolio .portfolioIntro {
    background-attachment: fixed;
    background-image: url("../img/backgrounds/sunrise.jpg");
    background-size: cover;
    height: 100vh;
    overflow: hidden; }
    #portfolio .portfolioIntro .darkener h2 {
      background-color: lightgrey;
      color: white;
      display: block;
      font-family: "Utopia";
      font-size: 8vw;
      font-weight: 400;
      margin: 41vh auto 0;
      padding: 2vw;
      text-align: center;
      width: 60vw; }
    #portfolio .portfolioIntro .darkener p {
      color: white;
      font-family: "gotham";
      font-weight: 200;
      letter-spacing: 0.6vw;
      text-align: center;
      text-transform: uppercase;
      font-size: 4vw; }
  #portfolio .projects {
    box-shadow: 0vh 0vh 1vh 1vh rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 100%; }
  #portfolio .project {
    box-shadow: 0vh 0vh 1vh 1vh rgba(0, 0, 0, 0.3);
    background-color: #fcfcfc;
    overflow: hidden;
    position: relative;
    padding: 0; }
    #portfolio .project .projectContent {
      display: block;
      margin: 0 auto; }
      #portfolio .project .projectContent .projectContentTop {
        margin: 3vw auto 3vw;
        padding: 1vw 3vw 0;
        display: block; }
        #portfolio .project .projectContent .projectContentTop .titleLink {
          width: 20vw;
          text-decoration: none;
          color: black;
          display: block;
          margin-bottom: 2vw; }
          #portfolio .project .projectContent .projectContentTop .titleLink h2 {
            font-family: 'Utopia';
            font-weight: normal;
            font-size: 1.5vw;
            width: 100%; }
            #portfolio .project .projectContent .projectContentTop .titleLink h2 #sinasoid {
              width: 100%; }
        #portfolio .project .projectContent .projectContentTop p {
          font-family: 'Gotham';
          font-weight: 200;
          margin: 0.75vw auto; }
      #portfolio .project .projectContent img {
        width: 65%;
        display: block;
        margin: 0 auto 2vw; }

@media only screen and (min-width: 955px) {
  #portfolio {
    background-color: lightgrey;
    overflow: hidden; }
    #portfolio .portfolioIntro {
      background-attachment: fixed;
      background-image: url("../img/backgrounds/sunrise.jpg");
      background-size: cover;
      height: 100vh;
      overflow: hidden; }
      #portfolio .portfolioIntro .darkener h2 {
        background-color: lightgrey;
        color: white;
        display: block;
        font-family: "Utopia";
        font-size: 2vw;
        font-weight: 400;
        margin: 41vh auto 0;
        padding: 0.5vw;
        text-align: center;
        width: 19vw; }
      #portfolio .portfolioIntro .darkener p {
        color: white;
        font-family: "gotham";
        font-weight: 200;
        letter-spacing: 0.3vw;
        text-align: center;
        text-transform: uppercase;
        font-size: 1vw; }
    #portfolio .project {
      margin: 5vw auto;
      width: 79vw; }
      #portfolio .project .projectContent {
        width: 72vw;
        display: block;
        margin: 0 auto; }
        #portfolio .project .projectContent .projectContentTop {
          margin: 3vw auto 3vw;
          padding: 1vw 3vw 0; }
          #portfolio .project .projectContent .projectContentTop .titleLink {
            width: 20vw;
            margin-bottom: 2vw; }
            #portfolio .project .projectContent .projectContentTop .titleLink h2 {
              font-size: 1.5vw;
              width: 100%; }
              #portfolio .project .projectContent .projectContentTop .titleLink h2 #sinasoid {
                width: 100%; }
          #portfolio .project .projectContent .projectContentTop p {
            margin: 0.75vw auto;
            font-size: 1.3vw; }
        #portfolio .project .projectContent img {
          width: 65%;
          display: block;
          margin: 0 auto 2vw; } }
@font-face {
  font-family: 'Utopia';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/UtopiaStd-Disp.otf") format("opentype"); }
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Gotham-Book.otf") format("opentype"); }
@font-face {
  font-family: 'Gotham';
  font-style: 'light';
  font-weight: 200;
  src: url("../fonts/Gotham-Light.otf") format("opentype"); }
@font-face {
  font-family: 'Gotham';
  font-style: 'bold';
  font-weight: 600;
  src: url("../fonts/Gotham-Bold.otf") format("opentype"); }
@font-face {
  font-family: 'Gotham';
  font-style: 'black';
  font-weight: 800;
  src: url("../fonts/Gotham-Black.otf") format("opentype"); }
body {
  margin: 0;
  background-color: #FFF; }

#scroller {
  position: absolute;
  top: 0;
  color: red; }

#snapperNavi {
  bottom: 0;
  color: white;
  font-family: "Gotham";
  position: fixed;
  text-align: center;
  width: 100vw; }
  #snapperNavi a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 5vw; }
  #snapperNavi a:nth-child(2) {
    float: left;
    margin-left: 5vw; }
  #snapperNavi a:nth-child(3) {
    float: right;
    margin-right: 5vw; }

/*# sourceMappingURL=main.css.map */
