<!-- <div id="contactForm">
	<h2>Wanna Talk?</h2>
	<p>Feel free to reach out!</p>
	<form>
		<input type="text" placeholder="Name">
		<input type="text" placeholder="Email">
		<textarea placeholder="Message"></textarea>
		<input type="submit" value="Submit">
	</form>
	<div id="contactNext">
		<p>OR</p>
		<p>...</p>
	</div>
</div> -->
<div id="contactInfo">
	<h3>Email</h3>
	<p>paulmun818@gmail.com</p>
	<h3>Git</h3>
	<a href="http://github.com/paulmun"><p>github.com/paulmun</p></a>
	<h3>Linked In</h3>
	<a href="http://linkedin.com/in/paulmun"><p>linkedin.com/in/paulmun</p></a>
</div>