<div class="mobile-view1" id="introduction">
	<h2>Hi, I'm Paul</h2>
	<span class="divider"></span>
	<p>Product Manager</p>
	<p>Full-Stack Dev</p>
	<div id="portfolioLink">
		<p>Check out my work.</p>
	<button class="buttons" href="#/portfolio">Portfolio</button>
</div>
</div>
<div class="mobile-view2" id="aboutMeBlog">
	<p>I specialise in leading teams to design and build user-facing web products. My philosophy revolves around empathy.</p>
	<span class="divider"></span>
	<button class="buttons" href="#/about">About Me</button>
	<button class="buttons" href="#/blog">Blog</button>
</div>
<div class="mobile-view3" id="aboutMeBlog">
	<p>Everyone has a history. Curious about mine?</p>
	<button class="buttons" href="#/resume">Resume</button>
</div>
<div class="mobile-view4" id="aboutMeBlog">
	<h2>Got an idea? Wanna Chat?</h2>
	<p>Let's connect!</p>
	<button class="buttons" href="#/contact">Contact Me</button>
</div>
