<div class="mobileFull" id="introduction">
	<div class="darkener">
		<h2>Paul Mun</h2>
		<p>Product Manager</p>
		<p>Full-Stack Dev</p>
	</div>
</div>

<div id="portfolioLink">
	<p id="lgScreenText">I love creating and bringing ideas together. Take a look at some of the work that I've done.</p>
	<a href="#/portfolio">Portfolio</a>
</div>

<div class="mobileFull" id="aboutMe">
	<!-- <div id="triangle"></div> -->
	<div class="darkener">
		<div id="aboutMeTop">
			<h2>Who am I?</h2>
			<p>I specialise in leading teams to design and build user-facing web products. My philosophies revolve around empathy. Curious about what I do outside of work? Read about me.</p>
		</div>
		<!-- <span class="divider"></span> -->
		<div id="meNavi">
			<a class="buttons" href="#/about">About</a>
			<!-- <a class="buttons" href="#/blog">Blog</a> -->
			<a class="buttons" href="#/resume">Resume</a>
		</div>
	</div>
</div>
<div id="indexContact">
	<a class="buttons" id="indexContact" href="#/contact">Contact Me</a>
</div>