<div id="portfolio">
	<div class="portfolioIntro">
		<div class="darkener">	
			<h2>My Work</h2>
			<p>Web/Mobile/Branding</p>
		</div>
	</div>
	<div class="projects">
		<div class="project">
			<div class="projectContent">
				<div class="projectContentTop">
					<a class="titleLink" href="http://www.sinasoid.com"><h2><img id="sinasoid" src="../assets/img/portfolio/sinasoidLogo.png" alt="Sinasoid"></h2></a>
					<p>
					Sinasoid is a pro audio brand specializing in custom instrument cables. The stakeholders were originally set on being an all inclusive Audio, Video, and Lighting e-commerce. The logo and name were created with this in mind. Light and sound both travel in waves. Sinasoid is a spin on the word sinusoid.
					</p>
					<p>
					The brand is inspired by the Pacific Northwest and haute couture. The aesthetic, is a fusion of cardboard, twine, ink with modern typface and clean lines. Sinasoid is a brand built by hand and a great attention to detail and quality.
					</p>
					<p>
					My largest project at Sinasoid was the Custom Cable Builder. The gap we saw in the market was what instrumentalist (specifically guitarists) loved the most. Customized setups. Giving customers the ability to see, build and then eventually feel and hear the difference allowed Sinasoid to make its mark in the industry. All parts available on the Cable Builder are curated after extensive research on durability, build quality and failure points. 
					</p>
				</div>
				<img src="../assets/img/portfolio/sinasoid1.png" alt="">
				<img src="../assets/img/portfolio/sinasoid2.png" alt="">
			</div>
		</div>
		<div class="project" id="project2048">
			<div class="projectContent">
				<div class="projectContentTop">
					<h2>2048</h2>
					<p>
					This is a clone of the popular mobile game 2048. I worked with two other students at Coding Dojo to build it out. I contributed largely with the underlying data structure that modeled the board behind the scenes.
					</p>
				</div>
				<img src="../assets/img/portfolio/2048/2048.gif" alt="">
			</div>
		</div>
	</div>
</div>