<!-- <div class="resume" ng-repeat="experience in resume track by $index">
	<div class="experience">
		<h2>{{experience.employer}}</h2>
		<p class="position">{{experience.position}}</p>

		<div class="startEnd">
			<p>{{experience.start}}</p>
			<p>-</p>
			<p>{{experience.end}}</p>
		</div>
		<ul>
			<li ng-repeat="exp in experience.experiences">
				<p>{{exp}}</p>
			</li>
		</ul>
	</div>
</div> -->

<div class="resume">
	<div class="darkener">
		<h2 class="resumeTitle">Work Experience</h2>
		<div class="experience">
			<div class="expTop">
				<div class="expTopLeft">
					<h2>Best Electric Corporation</h2>
					<p class="position">Inside Project Manager</p>
				</div>
				<div class="collapser">
					<a href="" ng-click="collapse(0)">
						<span class={{plusMinus[0]}}></span>
						<span></span>
					</a>
				</div>
			</div>
			<div class="startEnd {{foldClass[0]}}">
				<p>2015</p>
				<p>-</p>
				<p>2016</p>
			</div>
			<ul class="{{foldClass[0]}}">
				<li>
					<p>Managed $1.4M in electrical contracting projects ranging from residential remodels to new commercial constructions.</p>
				</li>
				<li>
					<p>Drove projects to completion consistently by coordinating with Outside Project Manager, vendors and General contractors to schedule work crews, troubleshoot issues, order materials and distribute information.</p>
				</li>
				<li>
					<p>Drafted technical drawings with AutoCAD.</p>
				</li>
				<li>
					<p>Optimized areas of inefficiency and loss by implementing construction project management software to collect data on daily company activity.</p>
				</li>
			</ul>
		</div>
		<div class="experience">
			<div class="expTop">
				<div class="expTopLeft">
					<h2>Sinasoid</h2>
					<p class="position">Co-founder/Product Manager</p>
				</div>
				<div class="collapser">
					<a href="" ng-click="collapse(1)">
						<span class={{plusMinus[1]}}></span>
						<span></span>
					</a>
				</div>
			</div>
			
			<div class="startEnd {{foldClass[1]}}">
				<p>2013</p>
				<p>-</p>
				<p>2015</p>
			</div>
			<ul class="{{foldClass[1]}}">
				<li>
					<p>Penetrated the pro-audio market by leading a cross-functional team to take an innovative online custom instrument cable ordering platform from concept to market through agile development cycles.</p>
				</li>
				<li>
					<p>Created unique value propositions to define and target a specific market segment by conducting market research and generating use cases, stories and functional specifications.</p>
				</li>
				<li>
					<p>Designed wire-frames, mockups, branding and packaging catered towards the target audience.</p>
				</li>
				<li>
					<p>Drove project development requirements to completion on tight deadlines – scheduling aggressively and stepping in to code, develop marketing campaigns and create design assets as needed.</p>
				</li>
				<li>
					<p>Led development of second business concept focusing on a group buying platform for pro-audio equipment.</p>
				</li>
			</ul>
		</div>
		<div class="experience">
			<div class="expTop">
				<div class="expTopLeft">
					<h2>Boxwave Corporation</h2>
					<p class="position">Manager of Operations and Logistics</p>
				</div>
				<div class="collapser">
					<a href="" ng-click="collapse(2)">
						<span class={{plusMinus[2]}}></span>
						<span></span>
					</a>
				</div>
			</div>
			
			<div class="startEnd {{foldClass[2]}}">
				<p>2012</p>
				<p>-</p>
				<p>2013</p>
			</div>
			<ul class="{{foldClass[2]}}">
				<li>
					<p>Expanded a 2000 order/day fulfillment capacity among a team of five people to 3000 order/day capacity among three and dropped a sub-1% order inaccuracy rate by an additional .02% using a detailed order sorting criteria and implementing lean processes.</p>
				</li>
				<li>
					<p>Built and refined an inventory forecasting tool to assist in monitoring over 1000 unique active Amazon product listings – utilizing sales data to predict sales volume by days, weeks and months.</p>
				</li>
			</ul>
		</div>
		<div class="experience">
			<div class="expTop">
				<div class="expTopLeft">
					<h2>Boxwave Corporation</h2>
					<p class="position">Operations Associate</p>
				</div>
				<div class="collapser">
					<a href="" ng-click="collapse(3)">
						<span class={{plusMinus[3]}}></span>
						<span></span>
					</a>
				</div>
			</div>
			
			<div class="startEnd {{foldClass[3]}}">
				<p>2011</p>
				<p>-</p>
				<p>2012</p>
			</div>
			<ul class="{{foldClass[3]}}">
				<li>
					<p>Fulfilled hundreds of orders daily while maintaining 99.99% order accuracy rate and reconciled inventory regularly to ensure that team met the demands of order volume.</p>
				</li>
				<li>
					<p>Implemented strict product testing requirements to aid quality control and product design improvement.</p>
				</li>
			</ul>
		</div>
		<h2 class="skillsTitle">Skills</h2>
		<div class="experience">
			<div class="expTop">
				<div class="expTopLeft">
					<h2>Soft Skills</h2>
				</div>
				<div class="collapser">
					<a href="" ng-click="collapse(4)">
						<span class={{plusMinus[4]}}></span>
						<span></span>
					</a>
				</div>
			</div>
			<ul class="{{foldClass[4]}}">
				<li>
					<p>Project Management</p>
				</li>
				<li>
					<p>Product Management</p>
				</li>
				<li>
					<p>Team Leadership</p>
				</li>
				<li>
					<p>Brand/Marketing Strategy</p>
				</li>
				<li>
					<p>Data Analysis</p>
				</li>
				<li>
					<p>UI/UX Design</p>
				</li>
			</ul>
		</div>
		<div class="experience">
			<div class="expTop">
				<div class="expTopLeft">
					<h2>Hard Skills</h2>
				</div>
				<div class="collapser">
					<a href="" ng-click="collapse(5)">
						<span class={{plusMinus[5]}}></span>
						<span></span>
					</a>
				</div>
			</div>
			<ul class="{{foldClass[5]}}">
				<li>
					<p>HTML</p>
				</li>
				<li>
					<p>CSS</p>
				</li>
				<li>
					<p>JavaScript</p>
				</li>
				<li>
					<p>Angular.js</p>
				</li>
				<li>
					<p>node.js</p>
				</li>
				<li>
					<p>MongoDB</p>
				</li>
				<li>
					<p>Python</p>
				</li>
				<li>
					<p>Django</p>
				</li>
				<li>
					<p>Photoshop</p>
				</li>
				<li>
					<p>Illustrator</p>
				</li>
				<li>
					<p>Excel</p>
				</li>
				<li>
					<p>SQL</p>
				</li>
			</ul>
		</div>
	</div>
</div>